.container {
    margin: 0 auto;
    width: 80%;
}

h1, h2, .color-box, p {
    font-family: Poppins, sans-serif;
}

.color-boxes, .color-box, .font-boxes, .font-box {
    list-style-type: none;    
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.color-boxes {
    height: 100px;
    width: 450px;
    margin: 10px auto;
    text-align: center;
    vertical-align: center;
    color: white;
}

.color-box {
    display: block;
    text-align: center;
    color: white;
    padding-top: 15px;
}


#cool-blue {
    background-color: #2d5dcc;
}

#pink {
    background-color: #d957d9;
}

#mint-green {
    background-color: #4fe0b0;
}

#beige {
    background-color: #efd9ca;
}

.colors, .fonts, .text-styles {
    border: 1px solid lightgray;
    margin: 10px auto;
    padding-left: 10px;
}

.font-box {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.font-boxes {
    margin-bottom: 50px;
    display: block;
    width: 100%;
}

#roboto-title {
    font-family: Roboto, sans-serif;
    text-decoration: underline;
}

#roboto-reg {
    font-family: Roboto, sans-serif;
}

#roboto-italic {
    font-family: Roboto, sans-serif;
    font-style: italic;
}

#roboto-bold {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

#poppins-title {
    font-family: Poppins, sans-serif;
    text-decoration: underline;
}

#poppins-reg {
    font-family: Poppins, sans-serif;
}

#poppins-italic {
    font-family: Poppins, sans-serif;
    font-style: italic;
}

#poppins-bold {
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

#nunito-title {
    font-family: Nunito, sans-serif;
    text-decoration: underline;
}

#nunito-reg {
    font-family: Nunito, sans-serif;
}

#nunito-italic {
    font-family: Nunito, sans-serif;
    font-style: italic;
}

#nunito-bold {
    font-family: Nunito, sans-serif;
    font-weight: bold;
}

.text-style-bullets {
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
}